/* Add a black background color to the top navigation */
.topnav {
    background-color: lightskyblue;
    overflow: hidden;
    align-items: center;
    height: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: blue;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

/* Clear floats after the columns */
.centered {
    position: relative;
    top: 10%;
    left: 10%;
}

body, html, #container {
  height: 100%;
}

#top_div {
height:50%;
width:100%;
background-color:#009900;
margin:auto;
text-align:center;
}

#bottom_div {
height:50%;
width:100%;
background-color:#990000;
margin:auto;
text-align:center;
color:#FFFFFF;
}
