<br>
<h1 class="center">Apartment Table</h1>
<table class="center" style="width:100%; height:100%;">
    <tr>
        <th>Transaction Id</th>
        <th>Price</th>
        <th>Start date</th>
        <th>End date</th>
        <th>User Id</th>
    </tr>
    {% for a in apartments %}
    <tr>
        {% for key,value in a.items %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<br>
<!-- property_id = models.IntegerField(primary_key=True, null=False)
    apartment_number = models.IntegerField(null=False)
    style = models.CharField(max_length=255, null=False)
    square_feet = models.IntegerField(null=False)
    transaction -->