<br>
<h1 class="center">Companies</h1>
<table class="center" style="width:100%; height:100%;">
    <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    {% for c in comp %}
    <tr>
        {% for key,value in c.items %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<br>
<!-- property_id = models.IntegerField(primary_key=True, null=False)
    parking_spot = models.IntegerField(null=False)
    apartment_number-->