<!--&lt;!&ndash;General table&ndash;&gt;-->
<table class="center"  style="width:100%; height:100%;">
    <tr>
            <th>Property ID</th>
            <th>Property Name</th>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Amenities</th>
            <th>Apartment Number</th>
            <th>Style</th>
            <th>Square Feet</th>
            <th>Transaction ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Edit?</th>
            <th>Delete?</th>
    </tr>
    {% for row in general_table %}
    <tr>
        {% for key,value in row.items %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<style>
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}
    table.center {
  margin-left: auto;
  margin-right: auto;
}
table{
    class: center;
    width: 90%;
    height: 90%;
    border-collapse: collapse;
}
</style>
<br>
<br>
