<!--General table-->

<head>
    {% load static %}
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<table style="width:100%; height:100%;">
        <tr>
            <th>Property ID</th>
            <th>Property Name</th>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Amenities</th>
            <th>Apartment Number</th>
            <th>Style</th>
            <th>Square Feet</th>
            <th>Transaction ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Edit?</th>
            <th>Delete?</th>
        </tr>
        {% for prop in properties %}
        {% for apartment in apartments %}
        {% if prop.property_id == apartment.property_id %}
        <tr>
            <td>{{prop.property_id}}</td>
            <td>{{prop.name}}</td>
            {% for man_prop in manage_props %}
            {% if man_prop.property_id == prop.property_id %}
            <td>{{man_prop.employee_id}}</td>
                {% for man in managers %}
                {% if man.employee_id|add:"0" == man_prop.employee_id|add:"0" %}
            <td>{{man.first_name}}</td>
            <td>{{man.last_name}}</td>
            <td>{{man.email}}</td>
                {% endif %}
                {% endfor %} <!--mangers-->
            {% endif %}
            {% endfor %}<!--manage_props-->
            {% for prov in provides %}
                {% if prov.property_id|add:"0" == prop.property_id|add:"0" %}
                {% for amenity in amenities %}
                {% if amenity.amenities_id|add:"0" == prov.amenities_id|add:"0" %}
                <td>{{amenity.amenities_id}}</td>
                {% endif %}
                {% endfor %} <!--amenities-->
                {% endif %}
            {% endfor %} <!--provides-->
            <td>{{apartment.apartment_number}}</td>
            <td>{{apartment.style}}</td>
            <td>{{apartment.square_feet}}</td>
            <td>{{apartment.transaction_id}}</td>
            {% for lease in leases %}
            {% if lease.transaction_id|add:"0" == apartment.transaction_id|add:"0" %}
            <td>{{lease.start_date}}</td>
            <td>{{lease.end_date}}</td>
            <td>
            <!-- Trigger the modal with a button -->
            <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#myModal1">
            Edit
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Make Change to Property</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form class="formClass" action="{% url 'add' %}" method="POST">{% csrf_token %}

                        <div class="form-group">
                            <label for="property-id">Property ID:</label>
                            <input type="number" name="property-id" style="max-width: 70%;" id = "property-id">
                        </div>
                        <div class="form-group">
                            <label for="property-name">Property Name:</label>
                            <input type="text" name="property-name" style="max-width: 70%;" id = "property-name">
                        </div>
                        <div class="form-group">
                            <label for="street-number">Street Number:</label>
                            <input type="number" name="street-number" style="max-width: 70%;" id = "street-number">
                        </div>
                        <div class="form-group">
                            <label for="street-name">Street Name:</label>
                            <input type="text" name="street-name" style="max-width: 70%;" id = "street-name">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" name="city" style="max-width: 70%;" id = "city">
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" name="state" style="max-width: 70%" id = "state">
                        </div>
                        <div class="form-group">
                            <label for="zip-code">Zip Code:</label>
                            <input type="number" name="zip-code" style="max-width: 70%;" id = "zip-code">
                        </div>
                        <h4>Manager</h4>
                        <div class="form-group">
                            <label for="employee-id">Employee ID:</label>
                            <input type="number" name="employee-id" style="max-width: 70%;" id = "employee-id">
                        </div>

                        <div class="form-group">
                            <label for="fname">First Name:</label>
                            <input type="text" name="fname" style="max-width: 70%;" id = "fname">
                        </div>

                         <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <input type="text" name="lname" style="max-width: 70%;" id = "lname">
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" style="max-width: 70%;" id = "email">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number:</label>
                            <input type="tel" name="phone-number" style="max-width: 70%;" id = "phone-number">
                        </div>

                        <h4>Amenities</h4>
                        <div class="form-group">
                            <label for="amenities-id">Amenities ID:</label>
                            <input type="number" name="amenities-id" style="max-width: 70%;" id = "amenities-id">
                        </div>
                        <div class="form-group">
                            <label for="Pet-Friendly">Pet-Friendly:</label>
                            <input type="Boolean" name="pet-friendly" style="max-width: 70%;" id = "Pet-Friendly"
                            placeholder="1 for Yes. 0 for No">
                        </div>

                        <div class="form-group">
                            <label for="dryer-washer">Dryer/Washer:</label>
                            <input type="Boolean" name="dryer-washer" style="max-width: 70%;" id = "dryer-washer"
                            placeholder="1 for Yes. 0 for No">
                        </div>
                        <div class="form-group">
                            <label for="ac">AC:</label>
                            <input type="Boolean" name="ac" style="max-width: 70%;" id = "ac"
                            placeholder="1 for Yes. 0 for No">
                        </div>
                        <div class="form-group">
                            <label for="heating">Heating:</label>
                            <input type="Boolean" name="heating" style="max-width: 70%;" id = "heating"
                            placeholder="1 for Yes. 0 for No">
                        </div>
                        <div class="form-group">
                            <label for="internet">Internet:</label>
                            <input type="Boolean" name="internet" style="max-width: 70%;" id = "internet"
                            placeholder="1 for Yes. 0 for No">
                        </div>

                        <h4>Apartment</h4>
                        <div class="form-group">
                            <label for="apartment-number">Apartment Number:</label>
                            <input type="number" name="apartment-number" style="max-width: 70%;" id = "apartment-number">
                        </div>
                        <div class="form-group">
                            <label for="style">Style:</label>
                            <input type="text" name="style" style="max-width: 70%;" id = "style">
                        </div>
                        <div class="form-group">
                            <label for="square-feet">Square Feet:</label>
                            <input type="number" name="square-feet" style="max-width: 70%;" id ="square-feet" >
                        </div>
                        <div class="form-group">
                            <label for="transaction-id">Transaction ID:</label>
                            <input type="number" name="transaction-id" style="max-width: 70%;" id = "transaction-id">
                        </div>
                        <div class="form-group">
                            <label for="parking-spot">Parking Spot:</label>
                            <input type="number" name="parking-spot" style="max-width: 70%;" id = "parking-spot">
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" name="price" style="max-width: 70%;" id = "price">
                        </div>
                        <div class="form-group">
                            <label for="start-date">Start Date:</label>
                            <input type="date" name="start-date" style="max-width: 70%;" id ="start-date" >
                        </div>
                        <div class="form-group">
                            <label for="end-date">End Date:</label>
                            <input type="date" name="end-date" style="max-width: 70%;" id = "end-date">
                        </div>
                        <div class="form-group">
                            <label for="tenant-name">Tenant Name:</label>
                            <input type="text" name="tenant-name" style="max-width: 70%;" id = "tenant-name">
                        </div>

                        <h4>Vehicle</h4>
                        <div class="form-group">
                            <label for="license-plate">License Plate:</label>
                            <input type="text" name="license-plate" style="max-width: 70%;" id = "license-plate">
                        </div>
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <input type="text" name="model" style="max-width: 70%;" id ="model" >
                        </div>
                        <div class="form-group">
                            <label for="brand">Brand:</label>
                            <input type="text" name="brand" style="max-width: 70%;" id ="brand" >
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>

                     </form>
                    </div>
                  </div>
                </div>
            </div>
            </td>
            <td>
            <a href="/delete/{{prop.property_id}}&{{apartment.apartment_number}}" class="btn btn-danger">Delete</a>
            </td>
            {% endif %}
            {% endfor %}<!--lease-->

        </tr>
        {% endif %}
        {% endfor %}<!--apartments-->
        {% endfor %}<!--properties-->
</table>
<style>
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}
    table.center {
  margin-left: auto;
  margin-right: auto;
}
table{
    class: center;
    width: 90%;
    height: 90%;
    border-collapse: collapse;
}
</style>
<br>
<br>
