<br>
<h1 class="center">Retrieve All the Apartment Information on a Certain Property</h1>

<form class="formClass" action="{% url 'get_apt_info' %}" method="POST" style="padding: 30px;">{% csrf_token %}
    <div class="form-group">
    	<label for="property-id">Property ID:</label>
        <input type="number" name="property-id" style="max-width: 70%;" id = "property-id" placeholder="Enter Property ID" required>
    </div>
    <button type="submit" class="btn btn-primary">Retrieve</button>
</form>
<br><br>
