<!-- templates/login.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title >AddPage</title>
        <!-- CSS only -->

        {% load static %}
        <link rel="stylesheet" href="{% static "frontend/css/style.css" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="topnav">
            <div class="title" style="display: inline; color: black; font-size: 25px; font-weight: bold;">
                CVILLE LEASING DATABASE
                <!-- <a class="titletxt">CHARLOTTESVILLE LEASING DATABASE</a> -->
            </div>
            <div class="right" style="display: inline; float:right;">
                <a href="{% url 'data' %}">Database</a>
                <a class="active" href="{% url 'add' %}">Add Data</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <div class="row" style="width:121%; height:100vh;">
            <div class="col-xs-10 col-sm-5" style="border-right: 2px solid black; background-color: rgba(211, 211, 211, 0.2);">
                <div class="centered">
                    <h2 class="form_title">Add Property (Manual)</h2>
                    <form class="formClass">
                        <div class="form-group">
                            <label for="property-id">Property ID:</label>
                            <input type="number" name="property-id" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="property-name">Property Name:</label>
                            <input type="text" name="property-name" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="street-number">Street Number:</label>
                            <input type="number" name="street-number" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="street-name">Street Name:</label>
                            <input type="text" name="street-name" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" name="city" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" name="state" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="zip-code">Zip Code:</label>
                            <input type="number" name="zip-code" style="max-width: 70%;">
                        </div>
                        <h4>Manager</h4>
                        <div class="form-group">
                            <label for="employee-id">Employee ID:</label>
                            <input type="number" name="employee-id" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="first-name">First Name:</label>
                            <input type="text" name="first-name" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name:</label>
                            <input type="text" name="last-name" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number:</label>
                            <input type="tel" name="phone-number" style="max-width: 70%;">
                        </div>
                        <h4>Amenities</h4>
                        <div class="form-group">
                            <label for="amenities-id">Amenities ID:</label>
                            <input type="number" name="amenities-id" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <a>Pet-Friendly:</a>
                            <form>
                                <input type="radio" id="pet-friendly-yes" name="pet-friendly" value="yes">
                                <label for="pet-friendly-yes">Yes</label>
                                <input type="radio" id="pet-friendly-no" name="pet-friendly" value="no">
                                <label for="pet-friendly-no">No</label>
                            </form>
                        </div>
                        <div class="form-group">
                            <a>Dryer/Washer:</a>
                            <form>
                                <input type="radio" id="dryer-washer-yes" name="dryer-washer" value="yes">
                                <label for="dryer-washer-yes">Yes</label>
                                <input type="radio" id="dryer-washer-no" name="dryer-washer" value="no">
                                <label for="dryer-washer-no">No</label>
                            </form>
                        </div>
                        <div class="form-group">
                            <a>AC:</a>
                            <form>
                                <input type="radio" id="ac-yes" name="ac" value="yes">
                                <label for="ac-yes">Yes</label>
                                <input type="radio" id="ac-no" name="ac" value="no">
                                <label for="ac-no">No</label>
                            </form>
                        </div>
                        <div class="form-group">
                            <a>Heating:</a>
                            <form>
                                <input type="radio" id="heating-yes" name="heating" value="yes">
                                <label for="heating-yes">Yes</label>
                                <input type="radio" id="heating-no" name="heating" value="no">
                                <label for="heating-no">No</label>
                            </form>
                        </div>
                        <div class="form-group">
                            <a>Internet:</a>
                            <form>
                                <input type="radio" id="internet-yes" name="internet" value="yes">
                                <label for="internet-yes">Yes</label>
                                <input type="radio" id="internet-no" name="internet" value="no">
                                <label for="internet-no">No</label>
                            </form>
                        </div>
                        <h4>Apartment</h4>
                        <div class="form-group">
                            <label for="apartment-number">Apartment Number:</label>
                            <input type="number" name="apartment-number" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="style">Style:</label>
                            <input type="text" name="style" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="square-feet">Square Feet:</label>
                            <input type="number" name="square-feet" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="transaction-id">Transaction ID:</label>
                            <input type="number" name="style" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="parking-spot">Parking Spot:</label>
                            <input type="number" name="parking-spot" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" name="price" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="start-date">Start Date:</label>
                            <input type="date" name="start-date" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="end-date">End Date:</label>
                            <input type="date" name="end-date" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="tenant-name">Tenant:</label>
                            <input type="text" name="tenant-name" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="license-plate">License Plate:</label>
                            <input type="text" name="license-plate" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <input type="text" name="model" style="max-width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="brand">Brand:</label>
                            <input type="text" name="brand" style="max-width: 70%;">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-xs-10 col-sm-5" style="border-right: 2px solid black; background-color: rgba(211, 211, 211, 0.2);">
                <div class="centered">
                    <h2 class="sign_up">Add Property (multiple)</h2>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload your CSV/JSON here:</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
