<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- CSS only -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      table, th, td {
        border: 1px solid black;
      }
    </style>
</head>


<body>
<div class="topnav">
    <div class="title" style="display: inline; color: black; font-size: 25px; font-weight: bold;">
        CVILLE LEASING DATABASE
        <!-- <a class="titletxt">CHARLOTTESVILLE LEASING DATABASE</a> -->
    </div>
    <div class="right" style="display: inline; float:right;">
        <div class="right" style="display: inline; float:right;">
            <a class="active" href="{% url 'data' %}">Database</a>
            <a href="{% url 'add' %}">Add Data</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>
<br>
<div class="center">
    <button onclick="myFunction(1)">General Table</button> &nbsp; &nbsp;
    <button onclick="myFunction(2)">Managers</button> &nbsp; &nbsp;
    <button onclick="myFunction(3)">Lease Tenants</button> &nbsp; &nbsp;
    <button onclick="myFunction(4)">Manager Phones</button> &nbsp; &nbsp;
    <button onclick="myFunction(5)">Manages</button> &nbsp; &nbsp;
    <button onclick="myFunction(6)">Property</button> &nbsp; &nbsp;
    <button onclick="myFunction(7)">Apartment Parking Spots</button> &nbsp; &nbsp;
    <button onclick="myFunction(8)">Provides</button> &nbsp; &nbsp;
    <button onclick="myFunction(9)">Amenities</button> &nbsp; &nbsp;
    <button onclick="myFunction(10)">Vehicles</button> &nbsp; &nbsp;
    <button onclick="myFunction(11)">Leases</button> &nbsp; &nbsp;
    <button onclick="myFunction(12)">Apartments</button>
<!--    <button onclick="myFunction(13)">Companies</button>-->
</div>
<div id="table1">{% include "tables/general_table.html" %}</div>
<div id="table2">{% include "tables/managers_table.html" %}</div>
<div id="table3">{% include "tables/lease_tenants_table.html" %}</div>
<div id="table4">{% include "tables/manager_phone_table.html" %}</div>
<div id="table5">{% include "tables/manages_table.html" %}</div>
<div id="table6">{% include "tables/property_table.html" %}</div>
<div id="table7">{% include "tables/apartment_parking_spots_table.html" %}</div>
<div id="table8">{% include "tables/provides_table.html" %}</div>
<div id="table9">{% include "tables/amenities_table.html" %}</div>
<div id="table10">{% include "tables/vehicle_table.html" %}</div>
<div id="table11">{% include "tables/lease_table.html" %}</div>
<div id="table12">{% include "tables/apartment_table.html" %}</div>
<div id="table13">{% include "tables/company_table.html" %}</div>
<script>
function myFunction(nr) {
    for (i=1;i<=13;i++){
        if(nr==i){
            var s ="table" + i;
            var x = document.getElementById(s);
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
        else {
            var s ="table" + i;
            var x = document.getElementById(s);
            x.style.display = "none";
        }
    }
}
</script>
<style>
td {
    vertical-align: top;
}
#table2, #table3, #table4, #table5, #table6, #table7, #table8, #table9, #table10, #table11, #table12, #table13 {
    display:none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
</style>
</body>
</html>
